<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="/static/RobotMonitor/favicon.ico" />
    <link rel="stylesheet" href="/static/RobotMonitor/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
  </head>
  <body>
    <div class="topnav">
      <a href="index">Home</a>
    </div>

    <div class="pageHeader">
      <h1>Documentation</h1>
    </div>

    <div class="row">
      <div class="column" style="border-right: 1px solid; border-color: #bccbd7;">
        <h3>Main Page</h3>
        <p>
          This is the landing page where all of the currently supported robots are located. To view information
          about a robot click on its associated button.
        </p>
      </div>

      <div class="column" style="border-right: 1px solid; border-color: #bccbd7;">
        <h3>Robot Menu Page</h3>
        <p>
          Once a robot has been selected you will be taken to its menu page. Here all available data is listed 
          by it's time stamp. To see information for that time stamp click on that time and you will be taken to
          another page reffered to here as the display page. Here you will find data about the robot at that time stamp.
          This menu page also constains documentation regarding for the robot.  

        </p>
      </div>

      <div class="column">
        <h3>Display Page</h3>
        <p>
          On this page you will find:
          <ul style="justify-content:left;">
            <li>Graphs containing information sent from the robot</li>
            <li>Buttons to change what information will be displayed</li>
            <li>Download button for the csv file containing the data for the selected timestamp</li>
          </ul>
        </p>
      </div>
    </div>
  </body>
</html>
  