<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="/static/RobotMonitor/favicon.ico" />
    <link rel="stylesheet" href="/static/RobotMonitor/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Robot to Cloud Computing</title>
  </head>
  <body>    
    <div class="topnav">
      <a href="documentation">Documentation</a>
      <!-- <a href="login">Login</a>
      <a href="map">map</a> -->
    </div>

    <div class="pageHeader">
      <h1>Robot to Cloud Computing</h1>
    </div>
    
    <div class="row">
      <div class="column">
        <button onclick="window.location.href='spot'" class="btn">
          <img src="/static/RobotMonitor/spot.jpg" style="width: 20vw; min-width: 140px;" >
          <p>Spot</p>
        </button>
      </div>

      <!-- <div class="column">
        <button onclick="window.location.href='spot'" class="btn">
          <img src="/static/RobotMonitor/g1tank.jpg" style="width: 20vw; min-width: 140px;" >
          <p>G1 Tank</p>
        </button>
      </div>

      <div class="column">
        <button onclick="window.location.href='spot'" class="btn">
          <img src="/static/RobotMonitor/submarine.jpg" style="width: 20vw; min-width: 140px;" >
          <p>Submarine</p>
        </button>
      </div> -->
    </div>
  </body>
</html>
