<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="/static/RobotMonitor/favicon.ico" />
    <link rel="stylesheet" href="/static/RobotMonitor/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-form">
      <form>
        <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input type="email" placeholder="Email" autocomplete="nope">
          </div>
          <div class="input-field">
            <input type="password" placeholder="Password" autocomplete="new-password">
          </div>
        </div>
        <div class="action">
          <button>Register</button>
          <button>Sign in</button>
        </div>
      </form>
    </div>
  </body>
</html>